@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap');
/* :root {
  --primary: #82c8e5;
  --secondary: #3b8ab5;
  --dark: #0c0c0c;
  --black: #000000;
  --white: #fffafa;
  --bone: #f2eadb;
  --gray: #7a7a7a;
  --darkgray: #262626;
  --lightgray: #a4a4a4;
  --aud: "Audiowide", sans-serif;
} */
*{
    margin: 0;
    padding: 0;
}


body{
    background-color: #FFFFFF;
    font-family: "Wix Madefor Text", sans-serif;
   
}
header{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 34px;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #FFFFFF;
}

.section{
    /* z-index: 5; */
    position: relative;
}
.planet-name{
    color: rgb(53,71,81);
    font-size: 21px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;

}
.planet-name:hover {
    color: #b5b5b5;
}
nav ul {
    display: flex;
  justify-content: right;
  list-style: none;
  
}
nav ul li{
    margin: 0px 18px;
}
nav ul li a{
    text-decoration: none; 
    line-height: 45px;
    /* color: #b5b5b5; */
}

/* creating a sidebar */

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 111;
  background-color: rgba(250, 242, 242, 0.329);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rbga(0, 0, 0, 0.1);
  display: none;
  /* display: flex; */
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
/* .home:hover{
  border-bottom: 3px solid #0F172A;
  color: red;
  

} */
/* for sidebar */










button {
    margin: 20px;
  }
  .custom-btn {
    width: 130px;
    height: 40px;
    color: #555454;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: "Wix Madefor Text", sans-serif;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-1 {
    border: none;
    /* color: #000; */
  }
  .btn-1:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .btn-1:hover {
    color: #000;
    /* background-color: #4851d6; */
  }
  .btn-1:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  .btn-1:active {
    top: 2px;   /*work when clicked on button  */
  }

.video{
    display: flex;
    justify-content: center;
    position: relative;
}
.video video{
    width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: center center;
   /* will-change: auto;
    transform: translate3d(0px, 13.8px, 0px); */
}

.overlay{
    position: absolute;
    background-color: black;
    opacity: .2;
    width: 100%;
    height: 800px;
}
.main-heading{
   position: absolute;
   width: 800px;
   top: 220px;
  
}
.main-heading .text{
    position: relative;
    color: #F4A261;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    display: inline-block;
    
}
.cursor{
    display: inline-block;
    width: 2px;
    height: 39px;
    opacity: 0;
    background-color: lightblue;
    animation: blink 0.5s steps(2, start) 1;
}


@keyframes blink {
    50%{
        opacity: 0;
    }
   
}
.fading {
    display: inline-block;
    opacity: 0;
    margin-right: 7px;
    transform: translateX(-5px); /* Start slightly left */
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(10px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* 2nd choice */
/* .fading {
    display: inline-block;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
 */

 .sec-text{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 20px;
    font-size: 1.5rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
 }
.third-text{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 131px;
    font-size: 32px;
  font-weight: 500;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
 }
 .svg{
    display: inline-block;
    width: 13px;
    translate: 419px 127px;
    transform: rotate(-17deg);

 }
 .svg svg{
    height: 35vh;
 }
 .sec-container{
    height: 70vh;
  }
.sec-section{
    position: relative;
    background-color: #0F172A;
    height: 128vh;
    width: 100%;
    bottom: 58vh;
    z-index: -1;
}
/* .text-slider{
    color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 79vh;
  flex-direction: column;
  align-content: center;
  width: 100%;
} */

.text-slider {
    font-family: "Noto Serif", serif;
    position: relative; /* Keeps all text stacked in one place */
    width: 93%; 
    height: 33%; 
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    top: 79vh;
    margin: 0 auto;
  }
  
  .slide {
    position: absolute; /* Stacks all paragraphs */
    opacity: 0; /*  hide all text */
    transition: opacity 1s ease-in-out; /*  effect */
    font-size: 2rem;
    font-weight: 500;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
    color: white;
    text-align: center;
  }
  
  .slide.active {
    opacity: 1; /* Show the active slide */
    transition: opacity 1s ease-in-out;
  }

  .position-container {
    position: relative;
    width: 212px; 
    height: 257px; 
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: #1d1d1d; /* Background color */
    color: white;
    cursor: pointer;
  }
  
  .position-container:hover {
    transform: translateY(-10px);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  }
  
  .position-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    /* margin: 30px 0; */
    height: 100%;
    text-align: center;
    transition: opacity 0.3s ease;
  }
  
  .position-container:hover .position-card {
    opacity: 0; /* Hide the main card on hover */
  }
  
  .description {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    color: white;
    opacity: 0; /* Initially hidden */
    transform: scale(0.9); /* Start smaller */
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  
  .position-container:hover .description {
    opacity: 1; /* Show the description on hover */
    transform: scale(1); /* Scale up to normal size */
  }
  
  .Position{
    display: flex;
    justify-content: start;
    flex-direction: row;
  }
.description-image{
  max-width: 42vw;
}





  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
    gap: 16px; /* Space between grid items */
    /* line-height: 30px; */
   
}

.grid-item {
    display: flex;
    flex-direction: column; /* Label and input stack vertically */
    align-items: flex-start; /* Align labels and inputs to the start */
}

label {
    margin-bottom: 8px; /* Add space between label and input */
    font-size: 14px; /* Consistent label font size */
    color: white;
}

input, select {
    /* width: 100%; Full width of the grid item */
    padding: 6px 0px;
    border: 1px solid gray;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: content-box; 
    margin: 0px 10px;
}

.first-rating{
  /* box-shadow: 0,0,40,rg; */
}

  












 .contact {
  position: relative;
  padding: 4rem 0;
  /* background: url("/asset/images/contact.jpeg"); */
  background-color: #0F172A;
  background-size: cover;
  background-position: center;
  min-height: 80vh;
  color: white;
}

.contact::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 30%;
  bottom: 0;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 8%,
    rgba(255, 255, 255, 0) 50%
  );
}

.contact .container .content {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
  height: 80vh;
  overflow: hidden;
}

.contact .container .content .left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.contact .container .content .left-side h1 {
  font: 400 3rem "Audiowide", sans-serif;
  letter-spacing: .1em;
}

.contact .container .content .left-side p {
  font-size: 1.2rem;
  color: white;
}

.contact .container .content .right-side {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact .container .content .right-side form {
  padding: 5rem;
  background-color: rgba(255, 255, 255, .1);
  backdrop-filter: blur(20px);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* z-index: 50; */
}

.contact .container .content .right-side form h1 {
  font: 300 2.5rem "Audiowide", sans-serif;
}

.contact .container .content .right-side form .row-1,
.contact .container .content .right-side form .row-2 {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.contact .container .content .right-side form .row-1 input,
.contact .container .content .right-side form .row-2 input {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  width: 50%;
  outline: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
}

.contact .container .content .right-side form .row-1 input::placeholder,
.contact .container .content .right-side form .row-2 input::placeholder {
  color: white;
}

.contact .container .content .right-side form textarea {
  resize: none;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  color: white;
  font-size: 1.1rem;
  font-weight: 500;
}

.contact .container .content .right-side form textarea::placeholder {
  color: white;
}

.contact .container .content .right-side form .remember {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact .container .content .right-side form .remember p {
  font-size: 1.1rem;
}

.contact .container .content .right-side form button {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 12px;
  width: 25%;
  padding: 12px;
  color: white;
  font-size: 1.2rem;
}

.contact .container .content .right-side form button:active {
  background: #262626;
}

ul {
  margin: 0px;
  padding: 0px;
}
.footer-section {
background: #0F172A;
position: relative;
}
.footer-cta {
border-bottom: 1px solid #373636;
}
.single-cta i {
color: #ff5e14;
font-size: 30px;
float: left;
margin-top: 8px;
}
.cta-text {
padding-left: 15px;
display: inline-block;
}
.cta-text h4 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 2px;
}
.cta-text span {
color: #757575;
font-size: 15px;
}
.footer-content {
position: relative;
z-index: 2;
}
.footer-pattern img {
position: absolute;
top: 0;
left: 0;
height: 330px;
background-size: cover;
background-position: 100% 100%;
}
.footer-logo {
margin-bottom: 30px;
}
.footer-logo img {
  max-width: 200px;
}
.footer-text p {
margin-bottom: 14px;
font-size: 14px;
    color: #7e7e7e;
line-height: 28px;
}
.footer-social-icon span {
color: #fff;
display: block;
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif;
margin-bottom: 20px;
}
.footer-social-icon a {
color: #fff;
font-size: 16px;
margin-right: 15px;
}
.footer-social-icon i {
height: 40px;
width: 40px;
text-align: center;
line-height: 38px;
border-radius: 50%;
}
.facebook-bg{
background: #3B5998;
}
.twitter-bg{
background: #55ACEE;
}
.google-bg{
background: #DD4B39;
}
.footer-widget-heading h3 {
color: #fff;
font-size: 20px;
font-weight: 600;
margin-bottom: 40px;
position: relative;
}
.footer-widget-heading h3::before {
content: "";
position: absolute;
left: 0;
bottom: -15px;
height: 2px;
width: 50px;
background: #ff5e14;
}
.footer-widget ul li {
display: inline-block;
float: left;
width: 50%;
margin-bottom: 12px;
}
.footer-widget ul li a:hover{
color: #ff5e14;
}
.footer-widget ul li a {
color: #878787;
text-transform: capitalize;
}
.subscribe-form {
position: relative;
overflow: hidden;
}
.subscribe-form input {
width: 100%;
padding: 14px 28px;
background: #2E2E2E;
border: 1px solid #2E2E2E;
color: #fff;
}
.subscribe-form button {
  position: absolute;
  right: 0;
  background: #ff5e14;
  padding: 13px 20px;
  border: 1px solid #ff5e14;
  top: 0;
}
.subscribe-form button i {
color: #fff;
font-size: 22px;
transform: rotate(-6deg);
}
.copyright-area{
background: #0F172A;
padding: 25px 0;
}
.copyright-text p {
margin: 0;
font-size: 14px;
color: #878787;
}
.copyright-text p a{
color: #ff5e14;
}
.footer-menu li {
display: inline-block;
margin-left: 20px;
}
.footer-menu li:hover a{
color: #ff5e14;
}
.footer-menu li a {
font-size: 14px;
color: #878787;
}


